.contact__form {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 30px;
}

.contact__label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact__input {
  display: flex;
  width: 200px;
  height: 20px;
  font-size: 16px;
  outline-color: rgb(84, 84, 253);
}

/* .contact__input:active,
.contact__input:hover {
  outline-color: rgb(84, 84, 253);
} */

.contact__btn {
  background-color: rgb(84, 84, 253);
  color: #fff;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border-color: rgb(84, 84, 253);

  cursor: pointer;
}

.contact__btn:hover,
.contact__btn:focus {
  background-color: rgb(233, 184, 25);
  color: rgb(84, 84, 253);
  scale: 1.2;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
